#!/usr/bin/env bash

set -euo pipefail

{{ template "source-utils" . }}
{{ template "load-homebrew" . }}

section "Applications & Packages"

action "Checking for updates..."

action "Checking for system updates"
sudo softwareupdate -i -a
action "Checking for Homebrew updates"
brew update --force --quiet && brew upgrade --quiet

action "Installing packages..."

brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
{{ range (.homebrew.taps | uniq) -}}
tap '{{ . }}'
{{ end -}}
# Formulaes
{{ range (.homebrew.formulaes | uniq) -}}
brew '{{ . }}'
{{ end -}}
# Casks
{{ range (.homebrew.casks | uniq) -}}
cask '{{ . }}'
{{ end -}}
EOF

action "Cleaning up..."
brew cleanup --prune=all --quiet
success "Packages installed!"
