{{- $name := "Martial Salgues" -}}
{{- $githubEmail := "github@mar7ius.me" -}}
{{- $githubUsername := "mar7ius" -}}
{{- $bwSshItemId := "c93fe86d-44b5-43fc-a717-aee50116c929" -}}

data:
  name: {{ $name | quote }}
  personal:
    bw_vault:
      items:
        ssh_key_item_id: {{ $bwSshItemId | quote }}
    accounts:
      github:
        username: {{ $githubUsername | quote }}
        email: {{ $githubEmail | quote }}


edit:
  command: code
  args:
    - "--wait"
